<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <title>Nueva Banda de Rock</title>
    </head>
    <body>
        <nav class="navbar bg-dark border-bottom border-body navbar-expand-lg bg-body-tertiary py-2" data-bs-theme="dark">
            <div class="container-fluid">
                <a class="navbar-brand text-white" href="#">
                    <h1 class="d-inline ms-5">Bandapp · </h1>
                    <h5 class="d-inline">¡Rockeando con {{session['nombre']}} {{session['apellido']}}! </h5>
                    <h5 class="ms-5 mt-1">Crear nueva banda </h5>
                </a>
                <div class="collapse navbar-collapse justify-content-end" id="navbarText">
                    <form action="/perfil" method="GET">
                        <button type="submit" class="btn btn-dark me-md-2">
                            Mi perfil
                        </button>
                    </form>
                    <form action="/dashboard" method="GET">
                        <button type="submit" class="btn btn-dark me-md-2">
                            Dashboard
                        </button>
                    </form>
                    <form action="/logout" method="POST">
                        <button type="submit" class="btn btn-sm me-2 btn-secondary">
                                Logout
                        </button>
                    </form>
                </div>
            </div>
        </nav>
        <div class="container mx-8 mt-3">
            <div class="row">
                <form action="/nueva/banda" method="POST">
                    <div class="mb-3">
                        <label for="nombre_banda">
                            Nombre Banda:
                        </label>
                        <input class="form-control" type="text" id="nombre_banda" name="nombre_banda">
                        {% for message in get_flashed_messages(category_filter = ['error_nombre_banda']): %}
                            <div class="alert alert-danger">
                                {{message}}
                            </div>
                        {% endfor %}
                    </div> 
                    <div class="mb-3">
                        <label for="genero_musical">
                            Género Musical:
                        </label>
                        <input class="form-control" id="genero_musical" name="genero_musical">
                        {% for message in get_flashed_messages(category_filter = ['error_genero_musical']): %}
                            <div class="alert alert-danger">
                                {{message}}
                            </div>
                        {% endfor %}
                    </div> 
                    <div class="mb-3">
                        <label for="ciudad_natal">
                            Ciudad Natal:
                        </label>
                        <input class="form-control" id="ciudad_natal" name="ciudad_natal">
                        {% for message in get_flashed_messages(category_filter = ['error_ciudad_natal']): %}
                            <div class="alert alert-danger">
                                {{message}}
                            </div>
                        {% endfor %}
                    </div> 
                    <button type="submit" class="btn btn-dark">
                        Crear Banda!
                    </button>
                    <div class="mb-3">
                    </div>
                </form>    
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    </body>
</html>